/* MAIN SECTIONS COLORS */
$sideBg: rgba(13, 2, 48, .9);
$mainBg: #eee;
$techTag: rgba(13, 2, 48, 1);


/* TEXT COLORS */
$defaultText: #333;
$white: #fff;
$half_opa_white: rgba(255, 255, 255, .5);
$socialLinks: #8D7506;
$high-skill: #8fbc8f;
$average-skill: gold;
$low-skill: #cd5c5c;


/* BUTTON COLORS */
$techListBtn: rgba(13, 2, 48, .6);
$detailsBtn: #8D7506;


/* BORDER COLORS */
$techBorder: #eee;