$mainBlue: rgba(26, 28, 89, 1);
$mainBg: #bababa;

body {
	font-family: 'Roboto', sans-serif;
	color: #333;
}


.background-image {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url('../images/the-eleventh-hour-3101625_1920.jpg') top left no-repeat $mainBg;
	width: 100%;
	height: auto;
}

.site-sidebar {
	top: 0;
	bottom: 0;
	left: 0;
	position: fixed;
	overflow: hidden;
	width: 25%;
	z-index: 2;
	background-color: red;
}

.site-main {
	margin-left: 25%;
}