/* MAIN CONTENT STYLES */

.site-main {
	margin-left: 0;

	@mixin atMedium {
		margin-left: 25%;
	}

	&__home {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: url('../images/pexels-photo-584305.jpeg') top left no-repeat #bababa;
		background-size: cover;
	}

	&__content {
		position: relative;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 320px;
		margin-left: 0;
		max-width: 100%;
		color: $white;

		@mixin atMedium {
			position: relative;
			padding-left: 110px;
			padding-top: 250px;
			margin-left: 25%;
			max-width: 60%;
			color: $white;
		}
	}

	&__header {
		font-size: 2.5em;
		font-weight: 500;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
	}

	&__desc {
		font-size: 1.5em;
		font-weight: 300;
		margin-bottom: 6em;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
	}

	&__links {
		font-size: 1.3em;
		margin-bottom: 1em;
		/*animation-name: fadein;
		animation-duration: 5s;
		animation-iteration-count: 1;
		animation-timing-function: linear;

		@keyframes fadein {
			0%,25% { opacity: 0; }
			to { opacity: 1; }
		}*/
	}
	
}

.site-main::before {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: auto;
	content: " ";
	display: block;
	background: url('../images/pexels-photo-584305.jpeg') top left no-repeat #bababa;
	width: 0;
	background-size: cover;

	@mixin atMedium {
		width: 25%;
	}
}