.site-main {
	margin-left: 0;

	@mixin atMedium {
		margin-left: 25%;
	}

	&__home {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: url('/assets/images/pexels-photo-584305-min.jpeg') top left no-repeat #bababa;
		background-size: cover;
	}

	&__content {
		position: relative;
		padding-left: 20px;
		padding-right: 20px;
		margin-top: 20px;
		margin-left: 0;
		max-width: 100%;
		color: $white;

		@mixin atMedium {
			position: relative;
			padding-left: 80px;
			padding-top: 250px;
			/*margin-left: 25%;*/
			max-width: 60%;
			color: $white;
		}
	}

	&--text-shadow-4 {
		text-shadow: 1px 1px 4px rgba(0, 0, 0, .4);
	}

	&__header {
		font-size: 1.5em;
		font-weight: 500;

		@mixin atMedium {
			font-size: 2.5em;
		}
	}

	&__desc {
		font-size: 1.2em;
		font-weight: 300;
		margin-bottom: 1em;

		@mixin atMedium {
			font-size: 1.5em;
			margin-bottom: 6em;
		}
	}

	&__home-links {
		font-size: 1em;
		margin-bottom: 1em;

		@mixin atMedium {
			font-size: 1.3em;
		}
	}
	
}

.site-main::before {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: auto;
	content: " ";
	display: block;
	background: url('/assets/images/pexels-photo-584305-min.jpeg') top left no-repeat #bababa;
	width: 0;
	background-size: cover;

	@mixin atMedium {
		width: 25%;
	}
}


/* ANIMATIONS */
/* animation: [animation-name] [animation-duration] [animation-timing-function]
[animation-delay] [animation-iteration-count] [animation-direction]
[animation-fill-mode] */
@keyframes fadeButtons {
	from { opacity: 0; }
	to { opacity: 1; }
}
.site-main__home-links {
	animation: fadeButtons 2s linear 1;
}