.row {

	@mixin clearfix;

	width: 100%;
	&--margin-btm-15-5 {
		margin-bottom: 15px;
	}

	@mixin atMedium {
		&--margin-btm-15-5 {
        	margin-bottom: 5em;
        }
    }

	[class*='col-'] {
        float: left;
        min-height: 1px;
    }

	&__col-6 {
		width: 100%;

		@mixin atMedium {
            width: 50%;
        }
	}

}