.site-section {
	margin-left: 25%;
	
	&__content {
		position: relative;
		padding-left: 2em;
		padding-right: 20px;
		margin-left: 0;
		max-width: 100%;

		@mixin atMedium {
			position: relative;
			max-width: 1000px;
		}
	}

	&__header {
		font-size: 1.5em;
		margin-top: 1em;

		@mixin atMedium {
			font-size: 2em;
			margin-top: 2em;
		}
	}

	&__desc {
		font-size: 1em;
	}

	&__work-content {
		overflow: hidden;
		margin-top: 20px;

		@mixin atMedium {
			margin-top: 40px;
		}
	}

	&__work-content-title {
		font-size: 1.2em;
		margin-top: 0;

		@mixin atMedium {
			font-size: 1.5em;
			margin-top: 0;
		}
	}

	&__work-content-subtitle {
		font-size: 1rem;
		margin-bottom: 10px;

		@mixin atMedium {
			font-size: 1.1rem;
			margin-bottom: 20px;
		}
	}

	&__work-content-desc {
		margin-top: 20px;
	}

	&__work-button {
		margin-top: 20px;
		
		a {
			padding: 10px 12px;
			background-color: $detailsBtn;
			color: $white;
			text-decoration: none;
			line-height: 3;
			font-weight: 400;
		}

		a:hover {
			text-decoration: underline;
		}
	}

	&__work-technologies {
		margin-top: 20px;
	}

	&__work-technologies-page {
		margin-top: 20px;
		padding-left: 0;

		@mixin atMedium {
			padding-left: 20px;
			border-left: 1.2px solid $techBorder;
		}
	}

	&__tech-header {
		font-size: small;
		text-transform: uppercase;
	}

	&__tech-list {
		padding-top: 10px;

		ul {
			margin: 0;
			padding-left: 0;
			list-style-type: none;
		}

		li {
			display: inline-block;
			overflow: hidden;
			padding: 4px 7px;
			color: $white;
			background-color: $techListBtn;
		}
	}

	&__work-content-image {
		padding-left: 0;
		margin-top: 20px;
		margin-bottom: 20px;

		@mixin atMedium {
			padding-left: 30px;
			margin-top: 0;
			margin-bottom: 20px;
		}

		img {
			display: none;

			@mixin atSmall {
				display: block;
				max-width: 80%;
				max-height: 569px;
				margin: 0 auto;
			}

			@mixin atMedium {
				display: block;
				max-width: 100%;
			}
		}
	}

	&__group-images {
		
		img {
			display: none;

			@mixin atSmall {
				display: block;
				max-width: 80%;
				max-height: 569px;
				margin-bottom: 2em;
				margin-left: auto;
				margin-right: auto;
			}
		}

	}

	&__contact {
		display: block;
		line-height: 2;

		dd a {
			color: $socialLinks;
			text-decoration: none;
		}

		dd a:hover {
			text-decoration: underline;
		}

		dd a > i {
			margin-right: 5px;
		}
	}

	&__contact-item {
		float: none;

		@mixin atXSmall {
			float: left;
			clear: both;
			width: 200px;
		}
	}

	&__resume {
		margin-bottom: 30px;
	}

	&__resume-title {
		font-size: 1.3em;
		font-weight: 400;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	&__resume-subtitle {
		font-size: 1.1em;
	}

	&__resume-desc {

		p {
			margin-top: 0;
			margin-bottom: 3px;
		}

		li {
			margin-bottom: 7px;
		}

		.school {
			font-weight: 400;
			color: $socialLinks;
		}

	}

}

.notice {
	font-style: italic;
	font-size: smaller;
	font-weight: 400;
}

.resume {
	text-decoration: underline;
	font-weight: 500;
	color: $socialLinks;
}

.mobile-image-view {
	width: auto;
	height: auto;
	margin: 0 auto;
}