.site-section {
	margin-left: 25%;
	
	&__content {
		position: relative;
		padding-left: 2em;
		padding-right: 20px;
		margin-left: 0;
		max-width: 100%;

		@mixin atMedium {
			position: relative;
			max-width: 90%;
		}
	}

	&__header {
		font-size: 1.5em;
		margin-top: 1em;

		@mixin atMedium {
			font-size: 2em;
			margin-top: 2em;
		}
	}

	&__desc {
		font-size: 1em;
	}

	&__work-content {
		overflow: hidden;
		margin-top: 20px;

		@mixin atMedium {
			margin-top: 40px;
		}
	}

	&__work-content-title {
		font-size: 1.2em;
		margin-top: 0;

		@mixin atMedium {
			font-size: 1.5em;
			margin-top: 0;
		}
	}

	&__work-content-subtitle {
		font-size: 1rem;
		margin-bottom: 10px;

		@mixin atMedium {
			font-size: 1.1rem;
			margin-bottom: 20px;
		}
	}

	&__work-content-desc {
		margin-top: 20px;
	}

	&__work-button {
		margin-top: 20px;
		
		a {
			padding: 10px 12px;
			background-color: $detailsBtn;
			color: $white;
			text-decoration: none;
			line-height: 3;
			font-weight: 400;
		}

		a:hover {
			text-decoration: underline;
		}
	}

	&__work-technologies {
		margin-top: 20px;
	}

	&__tech-header {
		font-size: small;
		text-transform: uppercase;
	}

	&__tech-list {
		padding-top: 10px;

		ul {
			margin: 0;
			padding-left: 0;
			list-style-type: none;
		}

		li {
			display: inline-block;
			overflow: hidden;
			padding: 4px 7px;
			color: $white;
			background-color: $techListBtn;
		}
	}

	&__work-content-image {
		padding-left: 0;
		margin-top: 20px;
		margin-bottom: 20px;

		@mixin atMedium {
			padding-left: 30px;
			margin-top: 0;
			margin-bottom: 20px;
		}

		img {
			display: none;

			@mixin atSmall {
				display: block;
				max-width: 100%;
				max-height: 569px;
			}
		}
	}

	&__group-images {
		
		img {
			display: none;

			@mixin atSmall {
				display: block;
				max-width: 100%;
				max-height: 569px;
				margin-bottom: 2em;
			}
		}

	}

	&__contact {
		display: block;
		line-height: 2;

		dd a {
			color: $socialLinks;
			text-decoration: none;
		}

		dd a:hover {
			text-decoration: underline;
		}

		dd a > i {
			margin-right: 5px;
		}
	}

	&__contact-item {
		float: none;

		@mixin atXSmall {
			float: left;
			clear: both;
			width: 200px;
		}
	}

	&__resume {
		margin-bottom: 30px;
	}

	&__resume-title {
		font-size: 1.3em;
		font-weight: 400;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	&__resume-subtitle {
		font-size: 1.1em;
	}

	&__resume-desc {

		p {
			margin-top: 0;
			margin-bottom: 3px;
		}

		li {
			margin-bottom: 7px;
		}

		.school {
			font-weight: 400;
			color: $socialLinks;
		}

	}

}

.tech-grid {
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	max-width: 80%;

	&__bar {
		font-size: smaller;
		font-weight: 400;
		line-height: 2;
		color: $white;
		text-transform: uppercase;
		background-color: $high-skill;
		margin-bottom: 5px;

		@mixin atXSmall {
			background-color: $mainBg;
		}
	}

	.fill {
		display: inline-block;

		&--high {
			background-color: $high-skill;
		}

		&--90w {
			width: 0; 
		}

		@mixin atXSmall {
			display: inline-block;

			&--80w { width: 85%; }
			&--70w { width: 75%; }
			&--65w { width: 70%; }
			&--60w { width: 65%; }
			&--50w { width: 50%; }
			&--30w { width: 40%; }
		}
	}

	.skill-tag {
		padding-left: 10px;
		width: 0;
		background-color: inherit;

		@mixin atXSmall {
			padding-left: 0;
			width: 110px;
			background-color: $techTag;
			text-align: center;
			font-weight: 400;
			display: inline-block;
		}
	}

	.skill-amount {
		float: right;
		clear: both;
		margin-right: 5px;
		color: $white;

		@mixin atXSmall {
			color: $defaultText;
		}
	}
}

.notice {
	font-style: italic;
	font-size: smaller;
	font-weight: 400;
}

.resume {
	text-decoration: underline;
	font-weight: 500;
	color: $socialLinks;
}

.mobile-image-view {
	width: auto;
	height: auto;
	margin: 0 auto;
}

.sy-box {
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 20px;
}