.tech-grid {
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	max-width: 80%;

	&__bar {
		font-size: smaller;
		font-weight: 400;
		line-height: 2;
		color: $white;
		text-transform: uppercase;
		background-color: $high-skill;
		margin-bottom: 5px;

		@mixin atXSmall {
			background-color: $mainBg;
		}
	}

	.fill {
		display: block;

		&--high {
			background-color: $high-skill;
		}

		&--avg {
			background-color: $average-skill;
		}

		&--low {
			background-color: $low-skill;
		}

		@mixin atXSmall {
			display: inline-block;

			&--100w { width: 100%;  }
			/*&--80w { width: 85%; }
			&--70w { width: 75%; }
			&--65w { width: 70%; }
			&--60w { width: 65%; }
			&--50w { width: 50%; }
			&--30w { width: 40%; }*/
		}
	}

	.skill-tag {
		padding-left: 10px;
		width: 0;
		background-color: inherit;

		@mixin atXSmall {
			padding-left: 0;
			width: 110px;
			background-color: $techTag;
			text-align: center;
			font-weight: 400;
			display: inline-block;
		}
	}

	.skill-amount {
		float: right;
		clear: both;
		margin-right: 5px;
		color: $white;

		@mixin atXSmall {
			color: $defaultText;
		}
	}
}